
@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<table  border="1" class="table table-bordered">
    <thead>
        <tr>
            <th >Name</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Duy </th>
            <th>
                Thanng
            </th>
            <th>
                Tra
            </th>
            <th>Duy</th>
        </tr>
    </tbody>
</table>


